html {
  min-width: 375px;
}

body {
  padding: 2rem;
  background-color: rgba(156, 196, 197, 0.8);
  background-image: repeating-linear-gradient(
      120deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1) 3px,
      transparent 3px,
      transparent 60px
    ),
    repeating-linear-gradient(
      60deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1) 1px,
      transparent 3px,
      transparent 60px
    ),
    linear-gradient(
      60deg,
      rgba(139, 139, 139, 0.6) 25%,
      transparent 25%,
      transparent 75%,
      rgba(139, 139, 139, 0.6) 75%,
      rgba(139, 139, 139, 0.6)
    ),
    linear-gradient(
      120deg,
      rgba(139, 139, 139, 0.6) 25%,
      transparent 25%,
      transparent 75%,
      rgba(139, 139, 139, 0.6) 75%,
      rgba(139, 139, 139, 0.6)
    );
  background-size: 70px 120px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

h1,
p {
  margin: 0;
  padding: 0;
}

.grid {
  width: clamp(200px, 70% + 20px, 800px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.flex {
  display: flex;
}

.center {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.space-between {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.space-between > * {
  min-width: 8rem;
}

.header {
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  background-color: rgba(30, 27, 42, 0.9);
  border: 0.1rem dashed hsl(0, 0%, 100%, 80%);
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}
