html {
  min-width: 375px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  padding: 2rem;
  background-color: rgba(156, 196, 197, 0.8);
  background-image: repeating-linear-gradient(
      120deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1) 3px,
      transparent 3px,
      transparent 60px
    ),
    repeating-linear-gradient(
      60deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1) 1px,
      transparent 3px,
      transparent 60px
    ),
    linear-gradient(
      60deg,
      rgba(139, 139, 139, 0.6) 25%,
      transparent 25%,
      transparent 75%,
      rgba(139, 139, 139, 0.6) 75%,
      rgba(139, 139, 139, 0.6)
    ),
    linear-gradient(
      120deg,
      rgba(139, 139, 139, 0.6) 25%,
      transparent 25%,
      transparent 75%,
      rgba(139, 139, 139, 0.6) 75%,
      rgba(139, 139, 139, 0.6)
    );
  background-size: 70px 120px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.screen-size {
  transition: ease all 0.3s;
  width: 23rem;
}

h1,
p {
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  overflow: hidden;
}

.flex {
  display: flex;
}

.center {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.space-between {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.space-between > * {
  min-width: 8rem;
}

.header {
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  background-color: rgba(30, 27, 42, 0.9);
  border: 0.1rem dashed hsl(0, 0%, 100%, 80%);
  user-select: none;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

.popup-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(81, 78, 100, 0.6);
}

.popup-content {
  opacity: 1 !important;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10rem;
  width: 20rem;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid black;
  box-shadow: 0 0 5px rgb(68, 68, 68);
  margin: 20rem;
  user-select: none;
}

.popup-content > button {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

@media only screen and (min-width: 730px) {
  .screen-size {
    width: 32rem;
  }
}

@media only screen and (min-width: 850px) and (min-height: 1000px) {
  .screen-size {
    width: 45rem;
  }
}
