html {
  min-width: 375px;
}

html,
body,
#root,
.container {
  height: 90%;
}

body {
  background-color: gray;
  padding: 2rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1,
p {
  margin: 0;
  padding: 0;
}

.grid {
  width: clamp(200px, 80% + 20px, 800px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.flex {
  display: flex;
}

.center {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.space-between {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.space-between > * {
  min-width: 8rem;
}

.margin-bottom {
  margin-bottom: 2rem;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}
