* {
  box-sizing: border-box;
}

.card-container {
  font-size: calc(-0.6rem + 4vw);
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  background-color: white;
  border-radius: 0.3rem;
  aspect-ratio: 1 / 1.5;
  font-weight: bold;
  outline: 0.1rem solid gray;
  box-shadow: 0 0 5px black;
}

.card-container:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 0.1rem orange);
  outline: 0.1rem solid orange;
}

.card-spades {
  color: black;
}

.card-hearts {
  color: red;
}

.card-clubs {
  color: blue;
}

.card-diamonds {
  color: purple;
}

.card-pair {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-left {
  justify-self: start;
  margin-left: 0.5rem;
}

.card-right {
  justify-self: end;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.card-center {
  font-family: "Brush Script MT", cursive;
  justify-self: center;
}

@media only screen and (min-width: 1000px) {
  .card-container {
    font-size: xx-large;
  }
}

@media only screen and (max-width: 700px) {
  .card-pair {
    height: 100%;
    width: 100%;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .card-left,
  .card-right {
    margin: 0;
  }

  .large-screen {
    display: none;
  }
}
