* {
  box-sizing: border-box;
}

.card-container {
  transition: ease all 0.2s;
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  background-color: white;
  border-radius: 0.3rem;
  aspect-ratio: 1 / 1.5;
  font-weight: bold;
  outline: 0.1rem solid gray;
  box-shadow: 0 0 5px black;
  user-select: none;
  margin: 0.2rem;
}

.card-container:hover {
  cursor: pointer;
}

.card-container p,
.card-container > h1 {
  color: black;
}

.card-spades {
  color: #0072b2;
}

.card-hearts {
  color: #cc79a7;
}

.card-clubs {
  color: #009e73;
}

.card-diamonds {
  color: #e69f00;
}

.card-spades:hover {
  color: #0072b2;
  filter: drop-shadow(0 0 0.1rem #0072b2);
  outline: 0.1rem solid #0072b2;
}

.card-hearts:hover {
  color: #cc79a7;
  filter: drop-shadow(0 0 0.1rem #cc79a7);
  outline: 0.1rem solid #cc79a7;
}

.card-clubs:hover {
  color: #009e73;
  filter: drop-shadow(0 0 0.1rem #009e73);
  outline: 0.1rem solid #009e73;
}

.card-diamonds:hover {
  color: #e69f00;
  filter: drop-shadow(0 0 0.1rem #e69f00);
  outline: 0.1rem solid #e69f00;
}

.card-pair {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-left {
  justify-self: start;
  margin-left: 0.5rem;
}

.card-right {
  justify-self: end;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.card-center {
  font-family: "Luminari";
  justify-self: center;
}

.upsidedown {
  transform: scale(-1, -1);
}

@media only screen and (max-width: 730px) {
  .card-pair {
    height: 100%;
    width: 100%;
    font-size: 2.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .card-left,
  .card-right {
    margin: 0;
  }

  .large-screen {
    display: none;
  }
}

@media only screen and (min-width: 850px) and (min-height: 1000px) {
  .card-container {
    font-size: 2rem;
  }
}
